.bodycss {
  position: relative;
  color: black;
  top: 100px;

  width: 94%;
  background-color: white;
  color: orangered;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 3%;
  opacity: 0.7;
}
